.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-black);
  }
  
  .hero_title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  .benefits__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-black);
  }
  
  .aboot__section-title {
    margin-bottom: 50px;
  }

  .team__teamsection-title {
    margin-bottom: 50px;
  }

  .client__title {
    margin-bottom: 50px;
  }

  .footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
  }
  .footer__social-title {
    margin-bottom: 20px;
  }
  .footer-title__title {
    margin-bottom: 20px;
  }

  .form-modal__title {
    display: block;
    text-align: center;
    color: var(--color-black);
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 30px;
  }